<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index.css">
    <title>Home</title>
</head>

<body>
    <div class="navbar">
        <div class="navlinks">
            <a href="#">Home</a>
            <a href="#">Other</a>
        </div>
        <div class="right">
            <% if(!user) { %>
                <a href="/auth/login">Login</a>
            <% } else { %>
                <a href="/user/profile"><%= user.username %></a>
            <% } %>
        </div>
    </div>
    <div class="centeredForm" style="font-size: 30px;">
        Welcome <%= user.username %> to Express App with MongoDB login
    </div>
</body>

</html>